<% provide(:title, "Meet the Athletes") %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mx-auto">
      <h1>Coaching That Works for You.</h1>
      <p>No matter who you are, the best way to train is to learn more about yourself and tailor the training to suit you. JM Coaching focuses on learning more about you through training and conversation. This means that with every ride and race, you not only get stronger but your training gets better.</p>
      <h2>So what kind of athlete are you?</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Finnegan O'Connor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Caleb Swartz</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Katy Mcdicken</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Chris St. Clair</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Carter Warren</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Ciara MacDonald</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Ajay Baker</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
            <div class="card-body">
              <h5 class="card-title">Joseph Maloney</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to "Learn More", "#", class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>