<% provide(:title, "Welcome") %>
<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">JM Coaching <br> Services</h1>
          <p class="intro-text">Performance and skills training for endurance cyclists.<br>Plan - Work - Succeed</p>
          <%= link_to "Learn More", "#character", class: "btn btn-outline-primary" %>               
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Character Section -->
<section id="character" class="focus-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>You want to become a better cyclist</h2>
        <p>A better cyclist is more skilled, focused, and organized. We can all go faster, farther, and have more fun no matter where we are or where we want to go.</p>
        <div>
          <%= image_tag 'carter_downhill.jpg', size: "150", class: 'photo-circle'%>
          <%= image_tag 'nate_and_katy.jpg', size: "150", class: 'photo-circle'%>
          <%= image_tag 'ethan_roots.jpg', size: "150", class: 'photo-circle'%>
        </div>
        <h3>But where do you begin?</h3>
        <p>Getting started can be the hardest part. How do we plan? What goals are reasonable? How do we know we’re improving? There can be a lot of uncertainty when it comes to training. Don’t let the questions slow you down or overwhelm you. Have a clear direction and confidence in your training program. Save money and time by using intelligent and proven training techniques.</p>
      </div>
    </div>
  </div>
</section>

<!-- Guide Section -->
<section id="guide" class="focus-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= image_tag "finn_fade_right.jpg", class: "photo img-fluid" %>
      </div>
      <div class="col-lg-4 mx-auto">
        <table style="height: 400px;">
          <tr>
            <td class="align-middle">
              <h2>Every athlete needs a coach.</h2>
              <p>JM coaching understands the confusion and uncertainty that comes with training. Cycling is a beautiful sport filled with challenge and adversity and the path forward isn’t always clear. That's why JM Coaching focuses on providing the clarity and tools to overcome these cahllenges.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mx-auto">
        <table style="height: 400px;">
          <tr>
            <td class="align-middle">
              <h2>JM Coaching is your guide.</h2>
              <p>The best training plans are a combination of knowledge, experience, and understanding. Coach Joe has been coaching since 2012, is a Spinning instructor, and has yeas of experience as a professional cyclist. The result is Joe has helped cyclists of all backgrounds gain clarity, stay motivated, and reach their goals.</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-8 mx-auto" >
        <%= image_tag "carter_berm_fade_left.JPG", class: "photo img-fluid" %>
      </div>
    </div>
  </div>
</section>

    <!-- Plan Section -->
    <section id="plan" class="focus-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1>The JM Coaching Method is simple</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <%= link_to image_tag('cal_icon.png', size: "100"), "#" %>
            <h3>Plan</h3>
            <p>Training is a commitment because performance takes time to develop. To effectively train a good plan is essential because it keeps the focus on the long term development and puts the short term challenges and successes in perspective. A good plan is build around an understanding of the athlete, their background, their goals, and their time. For these reasons, all JM Coaching athletes have the option to put a longer term plan in place.</p>
          </div>
          <div class="col-lg-4 mx-auto">
            <%= link_to image_tag('bike.png', size: "100"), "#" %>
            <h3>Work</h3>
            <p>There is no shortcut, no magic. To get faster you have to put the work in. But with JM Coaching, you’re not alone. Athletes get workout analysis, discussion, and feedback on workout execution. All this helps you hone your skill as an athlete and improve the way you train and race. With open lines of communication, JM Coaching is there to make sure the work is worth it.</p>
          </div>
          <div class="col-lg-4 mx-auto">
            <%= link_to image_tag('line-chart.png', size: "100"), "#" %>
            <h3>Analyze</h3>
            <p>There is more to training than just working out. Every athlete responds differently to training and what sets a great athlete apart from the rest is what they learn. JM Coaching tracks dozens of metrics both long and short term to understand how you respond to training and to fine tune the workouts. This is called closed loop training. Closed training is responsive to you and your life, it learns and improves over time, and changes with you.</p>
          </div>
        </div>
      </div>
    </section>
