<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_type.name %>
</p>

<% @product_type.fields.each do |field| %>
  <p>
    <strong><%= field.name + ": " %></strong>
    <%= "Field Type: #{field.field_type}, Required: #{field.required?}" %>
<% end %>

<br>
<%= link_to 'Edit', edit_admin_product_type_path(@product_type) %> |
<%= link_to 'Back', admin_product_types_path %>
