<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <%= image_tag 'stripe.png', class: 'photo-scale' %>
    </div>
  </div>
  <div class="container text-center">
    <%= link_to image_tag("facebook_logo.png", size: "64", class: "picture"), "https://www.facebook.com/jmcoachingservices/" %>
    <%= link_to image_tag("twitter_logo.png", size: "64", class: "picture"), "https://twitter.com/jmcoachingllc" %>
    <%= link_to image_tag("instagram_logo.png", size: "64", class: "picture"), "https://www.instagram.com/jmcoachingllc/" %>
    <%= link_to image_tag("youtube_logo.png", size: "64", class: "picture"), "https://www.youtube.com/channel/UCZWLI2GDZqS6HmnwSMRQN8Q" %>
    <br>
    <p>Copyright &copy; JM Coaching Services LLC 2018</p>
  </div>
</footer>
    