   <tr>
    <td>
      <div class="row">
        <div class="col-lg-4 mx-auto text-center">
          <%= if post.image then link_to (image_tag post.image.path_url.to_s, class: "img-fluid"), post end %>
        </div>
        <div class="col-lg-8 mx-auto">
          <h1><%= link_to post.title, post %></h1>
          <p><%= post.summary %></p>
          <p>Tags: 
            <% post.tags.each do |tag| %>
              <%= link_to "#{tag.name}", tag %>
            <% end %>
          </p>
          <p>Updated: <%= post.updated_at.strftime("%B %d, %Y") %>
        </div>
      </div>
    </td>
  </tr>
