<%= tinymce %>

<script type="text/javascript">
  $(document).ready(function() {
      var summary_text = $("#post_summary");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      summary_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <%= form_with(model: [ :admin, post], local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title, id: :post_title %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, id: :post_content, class: "tinymce", size: "100x40" %>
      </div>

      <div class="field">
        <%= form.label :summary %>
        <%= form.text_area :summary, id: :post_summary %>
        <p>Characters left: <span id="counter" data-maximum-length="<%= @summary_max %>"><%= @summary_max %></span></p>
      </div>

      <div class="field">
        <%= form.label :tags %>
        <%= form.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: "chosen-select"} %><br>
      </div>

      <div class="field">
        <%= form.label :active %>
        <%= form.check_box :active, id: :post_active %>
      </div>

      <div class="field">
        <% if @post.image? %>
        <%= image_tag @post.image.to_s, class: "img-fluid", size: "400" %>
        <% end %>
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
