<%= form_with(model: admin_image, local: true) do |form| %>
  <% if admin_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

      <ul>
      <% admin_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_image_name %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.file_field :path, id: :admin_image_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
