<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_image.name %>
</p>

<%= image_tag @admin_image.path_url.to_s, class: "img-fluid" %>

<%= link_to 'Edit', edit_admin_image_path(@admin_image) %> |
<%= link_to 'Back', admin_images_path %>
