<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<div id="cart-action">
  <% if signed_in? %>
    <%= link_to @cart_action, cart_action_path(@product), class: "button", method: :put, remote: true %>
  <% end %>
</div>

<%= link_to 'Back', products_path %>
